{
    "extends": [
        "airbnb-base",
        "plugin:vue/recommended"
    ],
    "plugins": [
        "import"
    ],
    "env": {
        "browser": true,
        "jasmine": true,
        "jest": true
    },
    "globals": {
        "chrome": true
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    },
    "rules": {
        "global-require": 0,
        "implicit-arrow-linebreak": 0,
        "import/extensions": [
            2,
            {
                "ts": "never",
                "tsx": "never",
                "js": "never",
                "jsx": "never"
            }
        ],
        "no-console": 0,
        "no-new": 0,
        "no-param-reassign": 0,
        "no-plusplus": 0,
        "no-script-url": 0,
        "no-underscore-dangle": 0,
        "object-curly-newline": 0,
        "arrow-parens": 0,
        "no-debugger": 0,
        "no-shadow": 0,
        "operator-linebreak": [
            2,
            "before"
        ],
        "max-len": [
            "error",
            {
                "ignoreStrings": true,
                "ignoreUrls": true,
                "ignoreRegExpLiterals": true,
                "ignoreTemplateLiterals": true,
                "code": 120
            }
        ],
        "space-infix-ops": 0
    }
}